<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Maker</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>Survey Maker</h1>
        <!-- Sign-In / Registration Section -->
        <section id="auth-section">
            <h2>Sign In or Login</h2>
            <h3>if already registered then go to login</h3>
            <a href="{% url 'admin/' %}"><button>Login</button></a>

        </section>
    </div>
    <script src="script.js"></script>
</body>
</html>
